<h1>Blog Friendly</h1>

<ul>
{{#each items}}
<li>{{this.Title}}</li>
<p>{{this.content}}</p>
<span><a href="/api/v1/items/delete/{{this.id}}">Delete</a></span>
{{/each}}
</ul>
<h3> Create a todo item </h3>
<section>
  <form class='add-item' action='/api/v1/items' method='post'>
    <div>
      <label for='title'> Title </label>
      <input type='text' name='Title' id='title' value=''></input>
    </div>
    <div>
      <textarea name='content' rows='8' cols= '40'></textarea>
    </div>
    <div>
      <input type='submit'>
    </div>
  </form>
</section>
